.page-body {
    background-color:#FFFFFF;
    color:#434455;
    font-family: "Roboto", sans-serif;
}

.page-header .navigation .link {
    color:#4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.page-header .navigation .link .studio {
    color:#2E2F42;
}

.page-header .navigation .nav {
    color:#2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.page-header .navigation .nav:hover {
    color:#404BBF
}

.page-header .navigation #studio:active,
.page-header .navigation #studio:focus {
    text-decoration: underline;
    color:#404BBF;
}

address {
    font-style: normal;
}

.page-header .contact .link {
    color:#434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.page-header .contact .link:hover,
.page-header .contact .link:focus {
    color:#404BBF;
}

.page-main .section-one {
    background-color:#2E2F42;
}

.page-main .section-one .title {
    color:#FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.page-main .section-one .button {
    background-color:#4D5AE5;
    color:#FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.page-main .section-one .button:hover,
.page-main .section-one .button:focus {
    background-color:#404BBF;
    color: #FFFFFF;
}

.page-main .section-two .title {
    color:#2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
}

.page-main .section-two .section-title {
    color:#2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.page-main .section-two .text {
    color:#434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02;
}

.page-main .section-three {
    background-color:#F4F4FD;
}

.page-main .section-three .title {
    color:#2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

.page-main .section-three .item {
    background-color: #FFFFFF;
}

.page-main .section-three .section-title {
    color:#2e2f42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.page-main .section-three .text {
    color:#434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.page-main .section-four .title {
    color:#2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.page-main .section-four .section-title{
    color:#2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.page-main .section-four .text {
    color:#434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.page-footer {
    background-color:#2E2F42;
}

.page-footer .link {
    color:#4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.page-footer .link .studio {
    color:#F4F4FD;
}

.page-footer .text {
    color:#F4F4FD;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

ul {
    list-style-type: none;
}